<% provide(:header, "Como usar") %>
<% provide(:title, "Como usar") %>

<h4>COMO UTILIZAR</h4>
<ul>
	<li>Capa - Deve ser utilizada para preencher os dados do cliente para o qual o projeto será desenvolvido. Uma vez preenchido o cabeçalho aqui, as demais abas serão preenchidas automaticamente;</li>
	<li>Projeto Piloto - Prova de conceito para clientes. Tem as sugestões de quantitativos reduzidas para diminuir custo;</li>
	<li>Consultoria BPM - Somente prestação dos serviços de consultoria BPM (mapeamento dos processos AS IS e automatização do TO BE). Não contempla nosso PGD;</li>
	<li>Software ECM/BPMS - Somente o SW para os casos que o cliente necessita somente do módulo ECM;</li>
	<li>Consultoria BPM + SW - Projetos que não contemplam logística documental;</li>
	<li>Logística Documental - Projetos que contemplam somente logística documental;</li>
	<li>Consultoria BPM + SW + Logística Documental - Projetos que contemplam todos os nossos produtos e serviços;</li>
	<li>Outros - Para projetos/licitações que não estão no nosso formato de negócios.</li>
</ul>