/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

header{
	color: #AB4B4B;
  width: 100vw;
  height: 78px;
  border-bottom: 2px solid #AB4B4B;
  position: relative;
  min-width: 356px;
  background-color: white;
}

main {
  background-color: white;
}

.navbar {
	min-height: 80px;
}

.navbar-default {
	border-color: #AB4B4B;
	border-radius: 0;
}

a {
	color: black;
}

a:hover, a:focus{
  text-decoration: none;
  color: #000;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.centered {
  position: relative;
  top: 10px;
  left: 30%;
}

.text-header {
  position: absolute;
  top: 29px;
  left: 24%;
  width: 50%;
  color: #AB4B4B;
  height: 30px;
  margin: 0;
  text-align: center;
}

body {
  right: 0;
  margin: 0;
  position: relative;
  min-width: 353px;
}

.shadow {
  width: 100vw;
  height: 100vh;
  opacity: 0.4 !important;
  background-color: black;
  z-index: 2;
  position: absolute;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
}

.min-width {
  min-width: 320px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 100px;
}

label {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 60.25%;
}

input {
  margin: 0 0 10px;
}

textarea:focus, input:focus{
  outline: none;
}

.menu {
  background: #202024 url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/black-thread.png') repeat left top;
  right: -285px;
  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 3;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

#foreground-div {
  opacity: 0;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon {
  position: relative;
  border: 2px solid;
  border-radius: 45px;
  padding: 2px 3.5px;
  height: 29px;
  width: 29px;
  max-width: 29px;
  float: right;
  color: #000;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  top: 30px;
} 

.icon-home {
  font-size: 16px;
  margin-right: 6px;
}

.icon-menu {
  font-size: 18px;
  margin-right: 2%;
}

.logo {
  float: left;
  margin: 12px;
  background-image: asset-data-url("sinax_logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 184px;
  height: 52px;
}

@media (max-width: 767px){
  .logo {
    background-image: asset_data_url("sinax_logo_sm.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
  }
}
