// Place all the styles related to the Projetos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

#form-show label {
	color: #8E9191;
	margin-bottom: 1px;
	font-size: 13px;
}

#form-show p {
	border: 1px;
	width: 100%;
	border: 2px solid #903E3E;
	border-radius: 10px;
	border-top-left-radius: 0px;
	padding-left: 10px;
	line-height: 30px;
}
#my-button {
	font-weight: bold;
	color: #FFF;
	background-color: #903E3E;
    border-color: #FFF;
}

#my-button:hover {
	color: #903E3E;
    border-color: #FFF;
    background-color: #e6e6e6;
}

.btn {
	width: 49%;
}

#personal-link {
	margin-left: 30%;
}

#table-head {
	border: 2px solid black;
}

#table-content{
	border: 1px solid black;
}