<header class="min-width-header">
	<nav class="navbar navbar-default" >
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="pull-left">
					<div class="navbar-brand">
						<%= image_tag("sinax_logo.png", size: "170x50", :alt => "Brand", :class=>"img-responsive") %>
					</div>
				</a>
				<div class="navbar-brand">
					<a href="#" >
						<h3 class="centered"><%= header(yield(:header)) %></h3>
					</a>
				</div>
				<% if logged_in? %>
					<%= link_to "Log out", logout_path, method: "delete" %>
				<% else %>
					<p>ok</p>
				<% end %>
			</div>
		</div>
	</nav>
</header>