<header class="min-width-header">


  <div class="menu">
    <div class="icon-close">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
    <ul>
      <li><%= link_to "Menu Principal", menu_path, method: "get" %></li>
      <li><%= link_to "Como usar", ajuda_path, method: "get" %></li>
      <li><%= link_to "Sair", logout_path, method: "delete" %></li>
    </ul>
  </div>


	


        <a href="#" class="logo">
        </a>

        <h3 class="text-header"><%= header(yield(:header)) %></h3>






      <% if logged_in? %>
          <div class="icon-menu">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
      <% end %>
		




</header>