<header class="min-width-header">


  <div class="menu">
    <div class="icon-close">
      <span class="glyphicon glyphicon-remove"></span>
    </div>
    <ul>
      <li><a href="#">Como usar</a></li>
      <li><%= link_to "Sair", logout_path, method: "delete" %></li>
    </ul>
  </div>


	<nav class="navbar navbar-default" >
		<div class="container-fluid">
			<div class="navbar-header">


        <a href="#" class="navbar-brand logo">
        </a>

        <h3 class="centered"><%= header(yield(:header)) %></h3>






			</div>
      <% if logged_in? %>
          <div class="icon-menu pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
          </div>
      <% end %>
		</div>
	</nav>




</header>